body{
font-family:Arial;
background:#f2f2f2;
margin:0;
}

.header{
background:#003366;
color:white;
padding:10px;
display:flex;
align-items:center;
}

.logo{
width:60px;
margin-right:10px;
}

.subtitle{
font-size:14px;
}

.menu{
background:#003366;
padding:10px;
text-align:center;
}

.menu a{
color:white;
margin:10px;
text-decoration:none;
}

.dashboard{
padding:20px;
}

.card{
background:white;
padding:15px;
margin:10px;
display:inline-block;
border-radius:5px;
}

.login-box{
width:350px;
margin:120px auto;
background:white;
padding:30px;
text-align:center;
border-radius:5px;
}

.login-box input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
background:#0066cc;
color:white;
border:none;
padding:10px 20px;
}
